.wrapper {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: #3978a3;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 3px;
    cursor: pointer;
}

.wrapper img{
    width: 100px;
    height: 100px;
}

.wrapper.turned-down img {
    display: none;
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
}
